var geDanFilter = function (param) {
    var detail = ''
    switch (param) {
        case 0:
            detail = '推荐'
        break
        case 1:
            detail = '精品'
        break
        case 2:
            detail = '华语'
        break
        case 3:
            detail = '流行'
        break
        case 4:
            detail = '轻音乐'
        break
        case 5:
            detail = 'ACG'
        break
        case 6:
            detail = '民谣'
        break
    }
    return detail
}

module.exports = {
    geDanFilter: geDanFilter,
};